.row {
    margin-top: 2em;
    margin-bottom: 2em;
}

body {
    background: #F8F8F8;
}

.navbar {
    margin-bottom: 0px;
}

.navbar .brand {
    float: right;
}


#main-container {
    margin-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    background-color: white;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-style: solid;
    border-top-style: none;
    border-width: 1px;
    border-color: lightgray;
}
