p {
    margin-top: 15px;
    margin-bottom: 15px;
}

pre {
    margin-top: 15px;
    margin-bottom: 15px;
}

.row {
    margin-top: 2em;
    margin-bottom: 2em;
}

h1 {
    margin: 14px 0px 5px;
    font-size: 30px;
    line-height: normal;
    border-bottom: 1px solid rgb(204, 204, 204);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 20px rgba(0, 0, 0, 0.1);
}

h2 {
    margin: 14px 0px 5px;
    border-bottom: 1px solid rgb(204, 204, 204);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 20px rgba(0, 0, 0, 0.1);
}

h3 {
    margin: 14px 0px 5px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 20px rgba(0, 0, 0, 0.1);
}

h4 {
    margin: 14px 0px 5px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 20px rgba(0, 0, 0, 0.1);
}

body {
    background-color: rgb(221, 221, 221);
}

#wiki-sidebar {
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    border: 1px solid rgb(221, 221, 221);
    margin-top: 54px;
    padding: 10px;
    box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.04);
}

#wiki-footer {
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    border: 1px solid rgb(221, 221, 221);
    padding: 10px;
    box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.04);
}

.navbar {
    margin-bottom: 0px;
}

.navbar-inner {
    background: -moz-linear-gradient(rgb(250, 250, 250), rgb(234, 234, 234)) repeat scroll 0% 0% transparent;
    position: relative;
    z-index: 10;
    border-bottom: 1px solid rgb(202, 202, 202);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.navbar .brand {
    float: right;
    margin-top: 3px;
    font-size: 12pt;
    font-weight: bold;
    color: rgb(102, 102, 102);
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 1), 0px 0px 20px rgba(0, 0, 0, 0.3);
}


#main-container {
    margin-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: white;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-style: solid;
    border-top-style: none;
    border-width: 1px;
    border-color: rgb(202, 202, 202);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 0px 10px rgba(0, 0, 0, 0.1);
}
