
<div>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
	<a class="brand" href = "http://github.com/{{user}}/{{repo}}/wiki/{{name}}">
	  view on github
	</a>
      </div>
    </div>
  </div>

  <div id="main-container" class="container">

    <div class="row">

      <div class="span12">
        Cloning {{user}} / {{repo}}
      </div>
    
    </div>

  </div> <!-- main-container -->

</div>
