
<div>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
	<a class="brand" href = "http://github.com/{{user}}/{{repo}}/wiki/{{name}}">
	  visit this page on github
	</a>
      </div>
    </div>
  </div>

  <div id="main-container" class="container">

    <div class="row">
      <div id="wiki-content" class="span8">

	{{#needs_header}}
	<h1>{{title}}</h1>
	{{/needs_header}}

	{{{content}}}

      </div>

      <div class="span4">
	<div id="wiki-sidebar">
	  {{{sidebar_content}}}
	</div>
      </div>
    </div>

    <div class="row">
      <div class="span12">
	<div id="wiki-footer">
	  {{{footer_content}}}
	</div>
      </div>
    </div>

  </div> <!-- main-container -->

</div>
