<div id="wiki-wrapper" class="page">

  <div class="row">
    <div id="wiki-content" class="span8">
      <h1>{{name}}</h1>

      {{{content}}}

    </div>

    <div id="wiki-sidebar" class="span4">
      {{{sidebar_content}}}
    </div>
  </div>

  <div class="row">
    <div id="wiki-footer" class="span12">
      {{{footer_content}}}
    </div>
  </div>

</div>
